<!-- Header Section -->
<header>
    <div class="container">
        <div class="logo">
            <img src="images/aarin logo.png" alt="AARIN Research Logo" class="logo-img">
            <div class="logo-text">
                <h1>Research Grid Pvt. Ltd.</h1>
                <p>Run by AARIN</p>
            </div>
        </div>
        <nav id="main-nav">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-list">
                <li><a href="index.html" class="active">Home</a></li>
                <li class="dropdown">
                    <a href="about.html">About Us <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html#what-we-do">What We Do</a></li>
                        <li><a href="about.html#our-mission">Our Mission</a></li>
                        <li><a href="about.html#our-team">Our Team</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="phd-guidance.html">PhD Guidance <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="phd-guidance.html#topic-selection">Topic Selection</a></li>
                        <li><a href="phd-guidance.html#research-proposal">Research Proposal</a></li>
                        <li><a href="phd-guidance.html#thesis-writing">Thesis Writing</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="phd-guidance.html">PhD Guidance <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="phd-guidance.html#topic-selection">Topic Selection</a></li>
                        <li><a href="phd-guidance.html#research-proposal">Research Proposal</a></li>
                        <li><a href="phd-guidance.html#thesis-writing">Thesis Writing</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="phd-topics.html">PhD Topics <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="phd-topics.html#computer-science">Computer Science</a></li>
                        <li><a href="phd-topics.html#engineering">Engineering</a></li>
                        <li><a href="phd-topics.html#research-methods">Research Methods</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="services.html">Services <i class="fas fa-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="services.html#thesis-writing">Thesis Writing</a></li>
                        <li><a href="services.html#paper-publishing">Paper Publishing</a></li>
                        <li><a href="services.html#data-analysis">Data Analysis</a></li>
                        <li><a href="services.html#software-implementation">Software Implementation</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header> 